*{
    list-style: none;
    text-decoration: none;
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: border-box;
}

body{
    margin:0;
    padding: 0;
}

.landing-page{
    display: flex;
    flex-direction: column;
    height: 100vh; 
    
}
.section1{

    
    display: flex;
    flex-direction: column;
    gap:60px;
    padding: 0 20% 7%;
    background-color:#1F2937;
    margin:0;
    
}
.nav-bar{
    display: flex;

}
.nav-bar h3{
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
}
.section1 ul { 
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    
    gap:12px;
    
}
.section1 ul li a {
    font-weight: 320;
    font-size: 16px;
    color: #E5E7EB;


}
.section1 a {
    color: white;
}

.subsec1{
    display:flex;
    gap:100px;

    
}
.subtext button{
    width : 100px;
    padding: 10px;
    border: 4px;
    border-radius: 4px;
    background-color: #3882F6;
}
.subtext p {
    width :440px;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 310;
    margin: 0;
    padding: 0;
}
.subtext h1{
    margin: 0;
    padding: 0;
    max-width:400px;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.subtext{
    display:flex;
    flex-direction: column;
    flex: 0 1 auto;
    margin-right: auto;
    gap:8px;
    

}
.img-placeholder{
    color:white;
    background-color: grey;
    min-width: 280px;
    flex:auto;
    display :flex;
    justify-content: center;
    align-items: center;
}
.img-placeholder p {
    font-size: 18px;
    font-weight: 320;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items: center;

    flex-shrink: 1;

}
.section2 h2 {
    color: #1F2937;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;

}
.text-image{
    display: flex;
    gap:45px;
    padding: 90px;
}
.image-bd{
    border:3px solid;
    border-radius: 14px;
    border-color: #3882F6;
    width: 220px;
    height: 220px;
    flex:1 0 auto;
}
.text-image p {
    width :220px;
    font-size: 23px;
    color: #1F2937;
    font-weight: 310;
    margin-top: 5px;
    padding: 0;
    
}
.img-text-temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 40px;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

.quote h2{
    align-self: flex-end;
    color: #1F2937;
    font-size: 30px;
}
.quote p{
    padding: 0;
    mcontainer-textargin:0;
    margin-top: 50px;
    width:890px;
}
.quote p em{
    padding: 0;
    margin: 0;
    font-size: 40px;
    font-weight: 320;
    color: #1F2937;
    
}
.inside-quote{
    display: flex;
    flex-direction: column;


}
.section3{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    width: 1000px;
    border-radius: 15px;
    padding: 44px 110px;
    margin:110px;
    background-color: #3882F6;
}
.container-text{
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-right : auto;
    gap:3px;
    padding: 25px;    
}
.container-text p ,.container-text h3{
    margin: 0;
    padding: 0;
}
.button-1{
    width: 120px;
    height:34px;
    
    border: 2px white solid;
    border-radius: 5px;
    background-color: #3882F6;
    align-self: center;
    
}
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 40px;
}
